TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
#Making a function that takes input of any string and returns it's reverse
def reverse():
    input_string= input("Enter any word/sentence")
    reverse_string = input_string[::-1]
    return reverse_string

reverse()

Enter any word/sentence Shalini

'inilahS'

2. Check if a string is a palindrome.

In [6]:
#A function that takes the input for a word and check if it's a palindrome
def check_palindrome():
    input_string = input("Enter any Word")
    #making all the characters lower
    all_lower_input_string= input_string.lower()
    
    #reversing the string
    reverse_string = all_lower_input_string[::-1]
    
    #Checking if the reverse string and the input string is same
    if reverse_string == all_lower_input_string:
        return (input_string + " is a palindrome")
    else:
        return (input_string + " is not a plaindrome")
    
check_palindrome()

Enter any Word Naman

'Naman is a palindrome'

3. Convert a string to uppercase.

In [9]:
#Take input of a string from the user
input_string = input("Enter a string:")
uppercase_string = input_string.upper() #upper method to convert the string in uppercase
# Printing the converted string
print(uppercase_string)

Enter a string: Shalini

SHALINI

4. Convert a string to lowercase.

In [10]:
#Take input of a string from the user
input_string = input("Enter a string:")
lowercase_string = input_string.lower() #lower method to convert the string in lowercase
# Printing the converted string
print(lowercase_string)

Enter a string: SHALINI

shalini

5. Count the number of vowels in a string.

In [9]:
#Take input of a string from the user
input_string = input("Enter a string:")
vowels = 0
lowercase_string = input_string.lower() #lower method to convert the string in lowercase

#Counting the number of vowels in the lowecase_string using a for loop
for i in lowercase_string:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        vowels += 1
    
print("No. of Vowels are:" , vowels)

Enter a string: Shalini Soni

No. of Vowels are: 5

6. Count the number of consonants in a string.

In [14]:
#Take input of a string from the user
input_string = input("Enter a string:")
consonants = 0
lowercase_string = input_string.lower() #lower method to convert the string in lowercase

#Counting the number of consonantss in the lowecase_string using a for loop
for i in lowercase_string:
    if i!='a' and i!='e' and i!='i' and i!='o' and i!='u' and i!=" ":
        consonants += 1
       
    
print("No. of consonants are:" , consonants)

Enter a string: Shalini Soni

No. of consonants are: 6

7. Remove all whitespaces from a string.

In [15]:
#Take input of a string from the user
input_string = input("Enter a string:")

#New string after replacing the whitespaces using replace function
new_string = input_string.replace(" ", "")

new_string

Enter a string: Shalini Soni

'ShaliniSoni'

8. Find the length of a string without using the `len()` function.

In [16]:
#Take input of a string from the user
input_string = input("Enter a string:")
length = 0

#Finding the legth of the string using for lopp
for i in input_string:
    length += 1
print("Length of the string is:" , length)

Enter a string: Shalini Soni

Length of the string is: 12

9. Check if a string contains a specific word.

In [19]:
#Take input of a string from the user
input_string = input("Enter a string:")

lowercase_string = input_string.lower() #lower method to convert the string in lowercase

#Checking if the string contains the word 'the' in it.
if 'the' in lowercase_string:
    print("Yes")
else:
    print("No")

Enter a string: The Superman

Yes

10. Replace a word in a string with another word

In [21]:
#Function that replaces a word in the given string with another word 

#Take input of a string from the user
input_string = input("Enter a string:")

lowercase_string = input_string.lower() #lower method to convert the string in lowercase

def change_words(original_word, replaced_word):
    new_string = lowercase_string.replace(original_word,replaced_word)
    return new_string

change_words("does", "doesn't")

Enter a string: Does she go to the market?

"doesn't she go to the market?"

11. Count the occurrences of a word in a string.

In [6]:
#Function to count the occurance of a word in a string

#Take input of a string from the user
input_string = input("Enter a string:")

lowercase_string = input_string.lower() #lower method to convert the string in lowercase

lst_string = lowercase_string.split() #split the string


def word_count(word):
    count = 0
    for i in lst_string:
        if i==word:
            count += 1
    return count

word_count('the')

Enter a string: The Taj Mahal is the best

2

12. Find the first occurrence of a word in a string

In [3]:
#Take input of a string from the user
input_string = input("Enter a string:")

#Take the input of the word to be found
word = input("Type the word to be found")

#USing find method to find the first occurance of the word
input_string.find(word)

Enter a string: He is smart
Type the word to be found is

3

13. Find the last occurrence of a word in a string.

In [4]:
#Take input of a string from the user
input_string = input("Enter a string:")

#Take the input of the word to be found
word = input("Type the word to be found")

##USing rfind method to find the last occurance of the word
input_string.rfind(word)

Enter a string: pwskills pwskills pwskills
Type the word to be found pw

18

14. Split a string into a list of words.

In [6]:
#Take input of a string from the user
input_string = input("Enter a string:")

#Using the split() method to split the input string into a list of words
x = input_string.split()
x

Enter a string: Hi How are you

['Hi', 'How', 'are', 'you']

15. Join a list of words into a string.

In [13]:
#Creating a list of words
word_list = ['Hey!', 'How', 'are', 'you']

#joing the list to form a string using join method
s= " "
string = s.join(word_list)
string

'Hey! How are you'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores

In [15]:
#Take input of a string from the user
input_string = input("Enter a string where words are separated by spaces:")

#Creating a string where words are separated by underscore
new_string = input_string.replace(" ", "_")
new_string

Enter a string where words are separated by spaces: My name is Shalini

'My_name_is_Shalini'

17. Check if a string starts with a specific word or phrase.

In [18]:
#Take input of a string from the user
input_string = (input("Enter a string:")).lower() 

#Take input of the word to check if the input_string starts wuth that word
input_word = (input("Enter the word:")).lower()

#To check of the input string starts with that word
check = input_string.startswith(input_word)
check

Enter a string: My name is Shalini
Enter the word: I

False

18. Check if a string ends with a specific word or phrase.

In [19]:
#Take input of a string from the user
input_string = (input("Enter a string:")).lower() 

#Take input of the word to check if the input_string ends with that word
input_word = (input("Enter the word:")).lower()

#To check of the input string ends with that word
check = input_string.endswith(input_word)
check

Enter a string: Hello pwskills
Enter the word: skills

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [20]:
#Take input of a string from the user
input_string = input("Enter a string:")

#Changing it in the title case
new_string = input_string.title()
new_string

Enter a string: hey pwskills

'Hey Pwskills'

20. Find the longest word in a string

In [22]:
#Take input of a string from the user and splitting the words to form a list
input_string = (input("Enter a string:")).split()

#Finding and printing the word wirh the maximum length in the list
print(max(input_string, key = len))

Enter a string: Python is an awesome language

language

21. Find the shortest word in a string.

In [24]:
#Take input of a string from the user and splitting the words to form a list
input_string = (input("Enter a string:")).split()

#Finding and printing the word wirh the minimum length in the list
print(min(input_string, key = len))

Enter a string: Hardwork is the key to success

is

22. Reverse the order of words in a string.

In [25]:
#Take input of a string from the user and splitting the words to form a list
input_string = (input("Enter a string:")).split()

#reversing the list and joining the words to form the reversed string
s=" "
reverse_string = s.join(input_string[::-1])
reverse_string

Enter a string: My name is Shalini

'Shalini is name My'

23. Check if a string is alphanumeric.

In [30]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#using the isalnum() function to check if the string is alpha numberic
input_string.isalnum()

Enter a string: s

True

24. Extract all digits from a string.

In [36]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#Checking if there is digit in string using isdigit() function
digits = []
for i in input_string:
    if i.isdigit() :
        digits.append(int(i))

digits

Enter a string: sndjn45

[4, 5]

25. Extract all alphabets from a string

In [37]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#Checking if there is alphabet in string using isalpha() function
alphabets = []
for i in input_string:
    if i.isalpha() :
        alphabets.append(i)

alphabets

Enter a string: xbhsdj123

['x', 'b', 'h', 's', 'd', 'j']

26. Count the number of uppercase letters in a string.

In [40]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#Checking if there is uppercase letters in string using isupper() function and counting them using a for loop
upper_letters = 0
for i in input_string:
    if i.isupper() :
       upper_letters += 1
upper_letters

Enter a string: dmdTH

2

27. Count the number of lowercase letters in a string.

In [41]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#Checking if there is lowercase letters in string using islower() function and counting them using a for loop
lower_letters = 0
for i in input_string:
    if i.islower() :
       lower_letters += 1
lower_letters

Enter a string: x jdj2

4

28. Swap the case of each character in a string.

In [43]:
#Take input of a string from the user 
input_string = input("Enter a string:")

#Swapping the case of each character using swapcase method
swapped_string = input_string.swapcase()
swapped_string

Enter a string: Hey

'hEY'

29. Remove a specific word from a string.

In [1]:
#Take input of a string from the user
input_string = (input("Enter a string:")).lower() 

#Take input of the word to be removed from the input_string 
input_word = (input("Enter the word:")).lower()

#USing replace funtion to remove the word
new_string = input_string.replace(input_word,"")
new_string

Enter a string: My name is not not not Shalini
Enter the word: not

'my name is    shalini'

30. Check if a string is a valid email address.

In [6]:
#Importing the regular expression module
import re

#Take input of an email from the user
input_email = (input("Enter email:"))

#Writing the usual expression for an email
valid_email_ex = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(valid_email_ex, input_email):
    print("Valid email")
else:
    print("Invalid email")

Enter email: xnsjdks

Invalid email

31. Extract the username from an email address string.

In [8]:
#Take input of an email from the user
input_email = (input("Enter email:"))
#splitting the email with @ as delimiter and taking the 1st part
username = input_email.split('@')[0]
username

Enter email: shalsi@sndjs.cpm

'shalsi'

32. Extract the domain name from an email address string.

In [9]:
#Take input of an email from the user
input_email = (input("Enter email:"))
#splitting the email with @ as delimiter and taking the 2nd part
domain_name = input_email.split('@')[1]
domain_name

Enter email: shalini99soni@gmail.com

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [10]:
#Take input from the user and split it 
input_string = input("Enter the string: ").split()

#joining the split string with single spcae
new_string = ' '.join(input_string)
new_string

Enter the string:  Shalini      Soni

'Shalini Soni'

34. Check if a string is a valid URL.

In [23]:
#importing the module from url lib to check the url
from urllib.parse import urlparse

#Taking the url input
input_url = input("Enter url: ")

#Checking if the URL is VAlid
result = urlparse(input_url)
if all([result.scheme, result.netloc]):
    print("Valid URL")
else:
    print("Invalid URL")

Enter url:  jsxjsk

Invalid URL

35. Extract the protocol (http or https) from a URL string.

In [24]:
#Taking the url input
input_url = input("Enter url: ")

#Finding the index of ://, to find the end of protocol
protocol_end = input_url.find("://")

#Extracting the protocol
protocol = input_url[:protocol_end]
protocol

Enter url:  https://mango-policeman-jpnfk.pwskills.app/lab/tree/work/20th_August_Assignment.ipynb

'https'

36. Find the frequency of each character in a string.

In [25]:
#Taking the user input of a string
input_string = input("Enter the string")

#Creating a dictionary where the frequesncy for each character will be stored 
frequency= {}

#Using a for loop to get the frequency of each character 

for i in input_string:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
print(frequency)

Enter the string Shalini Soni

{'S': 2, 'h': 1, 'a': 1, 'l': 1, 'i': 3, 'n': 2, ' ': 1, 'o': 1}

37. Remove all punctuation from a string

In [26]:
#Taking the user input of a string
input_string = input("Enter the string")

#Importing the string module 
import string

#removing the punctuation
new_string = input_string.translate(str.maketrans('','',string.punctuation))
new_string

Enter the string Hey! PW skills course,, is the best?

'Hey PW skills course is the best'

38. Check if a string contains only digits.

In [29]:
#Taking the user input of a string
input_string = input("Enter the string")

#Checking if it only contains digitis
if input_string.isdigit():
    print("Yes, it contains only digits")
else:
    print("No, it doesn't contain only digits")

Enter the string sbn55

No, it doesn't contain only digits

39. Check if a string contains only alphabets.

In [31]:
#Taking the user input of a string
input_string = input("Enter the string")

#Checking if it only contains alphabets
if input_string.isalpha():
    print("Yes, it contains only alphabets")
else:
    print("No, it doesn't contain only alphabets")

Enter the string 23jm

No, it doesn't contain only alphabets

40. Convert a string to a list of characters

In [33]:
#Taking the user input of a string and remove the spaces 
input_string = input("Enter the string").replace(" ", "")

char_list=[]

for char in input_string:
    if char in char_list:
        pass
    else:
        char_list.append(char)
        
char_list

Enter the string dnj

['d', 'n', 'j']

41. Check if two strings are anagrams.

In [42]:
#Taking the user input of a string and remove the spaces 
input_string1 = input("Enter the string").replace(" ", "").lower()
input_string2 = input("Enter the string").replace(" ", "").lower()

char_set1 = set()

for char in input_string1:
    char_set1.add(char)
        
char_set2 = set()

for char in input_string2:
    char_set2.add(char)
        
if char_set1==char_set2:
    print("Anagrams")
else:
    print("Not anagrams")

Enter the string hsjs
Enter the string dnm

Not anagrams

42. Encode a string using a Caesar cipher.

In [48]:
#Taking the user text to be encoded 
input_string = input("Enter the text to be encoded").lower()

#User input for the expected shift in the position of alphabest
input_shift = int(input("Enter shift"))

encoded_text = ""

#Using a for loop to encode the text
for char in input_string:
    if char.isalpha():
       encoded_char = chr((ord(char) + input_shift - ord('a')) % 26 + ord('a'))
    else:
        encoded_char = char
    encoded_text += encoded_char
encoded_text

Enter the text to be encoded Shalini
Enter shift 1

'tibmjoj'

43. Decode a Caesar cipher encoded string.

In [51]:
#Taking the user text to be decoded 
input_string = input("Enter the text to be decoded").lower()

#User input for the expected shift in the position of alphabest
input_shift = int(input("Enter shift"))

decoded_text = ''

#Using a for loop to decode the text
for char in input_string:
    if input_string.isalpha():
        decoded_char = chr((ord(char) - input_shift - ord('a')) % 26 + ord('a'))
    else:
        decoded_char = char
    decoded_text += decoded_char
decoded_text

Enter the text to be decoded tibmjoj
Enter shift 1

'shalini'

44. Find the most frequent word in a string.

In [2]:
#Takign the user input and converting it in lowercase
input_string = input("Enter the text").lower()

#Splitting the string into words
words = input_string.split()

word_count = {}

#Using a for loop to get the frequency of each word

for i in words:
    if i in word_count:
        word_count[i] += 1
    else:
        word_count[i] = 1
        
most_freq_word = ""
max_num= 0

for i in word_count:
    if word_count[i]> max_num:
        max_num=word_count[i]
        most_freq_word=i
print("Most frequent word is ", most_freq_word)

Enter the text hey hey hi hi hi no no no no ok ok ok

Most frequent word is  no

45. Find all unique words in a string.

In [4]:
#Taking the user input and converting it in lowercase
input_string = input("Enter the text").lower()

#Splitting the string into words
words = input_string.split()

#Converting the above list in set to get unique values
unique_words = set(words)

unique_words

Enter the text hey hello hello pwskillls pwskills has given a lot lot of assignments question

{'a',
 'assignments',
 'given',
 'has',
 'hello',
 'hey',
 'lot',
 'of',
 'pwskillls',
 'pwskills',
 'question'}

46. Count the number of syllables in a string.

In [6]:
#importing the re module
import re

#Taking the user input
input_string = input("Enter the text")

#Using re.findall() method with regular expression [aeiouy]+ to find all the sequences of vowels(vowel groups) and ignoring the case

vowel_groups = re.findall(r'[aeiouy]+', input_string, re.IGNORECASE)

print("The no. of syllables are: ", len(vowel_groups))

Enter the text My name is Shalini

The no. of syllables are:  7

47. Check if a string contains any special characters.

In [9]:
sp_char = '!@#$%^&*()_{}[]|\/?<>~:' #All the special characters

#Using a for loop to check for the special character

def sp_char_check():
#Taking the user input
    input_string = input("Enter the text")
    for i in input_string:
        if i in sp_char:
            print("Yes, it contains special character")
            break
            
sp_char_check()
sp_char_check()

Enter the text Sh#

Yes, it contains special character

Enter the text 344

48. Remove the nth word from a string

In [14]:
def remove_nth_word():
    
    #Asking tht user for the input of sentence and n
    input_string = input("Enter a sentence: ")
    n = int(input("Enter the n position of word to be removed: "))
    
    #Making a list of words using split()
    words_list = input_string.split()
    
    #removing the nth word 
    removed_word = words_list.pop(n-1) #Assumed here that the position user will enter will be as per general counting and not started from 0
    
    #Joining the words to form the new string
    new_string = ' '.join(words_list)
    return new_string

remove_nth_word()

Enter a sentence:  My name is Shalini
Enter the n position of word to be removed:  3

'My name Shalini'

49. Insert a word at the nth position in a string

In [19]:
def insert_word():
    
    #Asking tht user for the input of sentence and n and the word
    input_string = input("Enter a sentence: ")
    n = int(input("Enter the n position of word to be inserted: "))
    word = input("Enter the word to be inserted")
    
    word_list = input_string.split()
    word_list.insert(n-1, word)
    
    new_string = ' '.join(word_list)
    return new_string

insert_word()

Enter a sentence:  My name is
Enter the n position of word to be inserted:  4
Enter the word to be inserted Shalini

'My name is Shalini'

50. Convert a CSV string to a list of lists.

In [ ]:
def csv_to_list(input_csv):
    
    
    #Splitting the CSV files into lines
    lines = input_csv.split('\n')
    
    #Initializing an empty list to store the result
    result = []
    
    for line in lines:
        #Splitting each line into fields using comma as the delimiter
        fields = line.split(',')
        result.append(fields)
        
    return result 
csv_data = "Name, Age, Country\nShalini, 23, India\nVivek, 24, India\nJoe, 22, UK"

d = csv_to_list(csv_data)

for row in d:
        print(row)

['Name', ' Age', ' Country']
['Shalini', ' 23', ' India']
['Vivek', ' 24', ' India']
['Joe', ' 22', ' UK']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [29]:
lst = list(range(1,11))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function

In [30]:
#Finding the length of the list created above

length = 0

for i in lst:
    length += 1
print("length", length)

length 10

3. Append an element to the end of a list.

In [31]:
#Using append() method to add an element to the above list
lst.append(20)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

4. Insert an element at a specific index in a list.

In [33]:
#Using insert to add an element at a specific position
lst.insert(5,90)
lst

[1, 2, 3, 4, 5, 90, 6, 7, 8, 9, 10, 20]

5. Remove an element from a list by its value.

In [34]:
#removing an element by its value using the remove() method
lst.remove(90)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

6. Remove an element from a list by its index.

In [35]:
#removing an element by its index using pop() method
lst.pop(10)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [39]:
#Taking input from the user to check the element
x = int(input("Enter the element to be checked"))
if x in lst:
    print(x, "exists in the list")
else:
    print(x, "doesn't exist in the list")

Enter the element to be checked 22

22 doesn't exist in the list

8. Find the index of the first occurrence of an element in a list.

In [40]:
#Using index() to find the first occurance of an element in the list
element_to_find = 8
ind = lst.index(8)

print(element_to_find, "is at ", ind, "position")

8 is at  7 position

9. Count the occurrences of an element in a list.

In [41]:
#Using .count() to count the no. of elements 
lst_1 = [20,30,30,50,50,70,90]
element_to_count = 30

count = lst_1.count(element_to_count)
count

2

10. Reverse the order of elements in a list.

In [42]:
#Reversing the order of list using reverse()
lst.reverse()
lst

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [43]:
#Sorting a list in ascending order using sort
lst_1 = [3,4,2,1,9]
lst_1.sort()
lst_1

[1, 2, 3, 4, 9]

12. Sort a list in descending order.

In [45]:
#Sorting a list in descending order using reverse as true in sort
lst_1 = [8,9,12,11,7]
lst_1.sort(reverse=True)
lst_1

[12, 11, 9, 8, 7]

13. Create a list of even numbers from 1 to 20.

In [47]:
#Using list comprehension to create even no. list
even_list = [i for i in range(1,21) if i%2==0]
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [48]:
#Using list comprehension to create odd no. list
odd_list = [i for i in range(1,21) if i%2!=0]
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [49]:
#Using sum method to find the sum 
lst = list(range(10))
sum_lst = sum(lst)
sum_lst

45

16. Find the maximum value in a list.

In [50]:
#finding the maximum value using max()
lst = [9,11,34,8,99,10]
max_value = max(lst)
max_value

99

17. Find the minimum value in a list.

In [51]:
#finding the minimum value using min()
lst = [9,11,34,8,99,10]
min_value = min(lst)
min_value

8

18. Create a list of squares of numbers from 1 to 10.

In [52]:
Sq_list= [i*i for i in range(1,11)]
Sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [56]:
#Importing random
import random

#Using random function to get random numbers 
rand_int = [random.randint(1,12) for i in range(10)]
rand_int

[1, 7, 11, 5, 10, 12, 4, 10, 10, 3]

20. Remove duplicates from a list.

In [57]:
#First we will convert the list in set to remove the duplicates then we convert it back to list
lst = [1,2,2,3,3,3]
unique_list = list(set(lst))
unique_list

[1, 2, 3]

21. Find the common elements between two lists.

In [60]:
#Finding the common elemets by iterating over list 1 and matching each element with list 2
lst1 = [1,2,3,4,5,8,9,11]
lst2 = [3,4,5,9,12,13]
common_elements = [i for i in lst1 if i in lst2]
common_elements

[3, 4, 5, 9]

22. Find the difference between two lists.

In [62]:
lst1 = [1,2,3,4,5,8,9,11]
lst2 = [3,4,5,9,12,13]

#Finding the difference by first converting the lists into sets and then using the difference() function
difference = list(set(lst1).difference(set(lst2)))
difference

[8, 1, 2, 11]

23. Merge two lists.

In [63]:
lst1 = [1,2,3,4,5,8,9,11]
lst2 = [3,4,5,9,12,13]

merged_list = lst1 + lst2
merged_list

[1, 2, 3, 4, 5, 8, 9, 11, 3, 4, 5, 9, 12, 13]

24. Multiply all elements in a list by 2.

In [64]:
lst1 = [1,2,3,4,5,8,9,11]
multiplied_list= [i*2 for i in lst1]
multiplied_list

[2, 4, 6, 8, 10, 16, 18, 22]

25. Filter out all even numbers from a list.

In [66]:
lst1 = [1,2,3,4,5,8,9,11]
even_num_list= [i for i in lst1 if i%2==0]
even_num_list

[2, 4, 8]

26. Convert a list of strings to a list of integers.

In [67]:
string_list = ['3','4','8']

integer_list = [int(i) for i in string_list]
integer_list

[3, 4, 8]

27. Convert a list of integers to a list of strings.

In [68]:
int_lst = [1,2,5,7,8]
string_lst = [str(i) for i in int_lst]
string_lst

['1', '2', '5', '7', '8']

28. Flatten a nested list

In [70]:
nested_list = [[1,2],[3,4,5],[6,7,8,9],[10]]

#Using nested loop to remove each element and add it in the falttened_list
flattened_list = []
for i in nested_list:
    for j in i:
        flattened_list.append(j)
        
flattened_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [73]:
# initializing the list with the frst two elements and then using a for loop to append each next fibonacci no. based on the last two elements in the list

fibo_num = [0,1]
for i in range(8):
    fibo_num.append(fibo_num[-1] + fibo_num[-2])
fibo_num

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [87]:
#To check if a list is sorted in ascending order
'''def sorted_check(lst):
    for i in lst:
        if lst[i]<lst[i-1]:
            return False
        return True

lst1 = [2,3,4,5]
lst2 = [9,2,3]

if sorted_check(lst1):
    print("The list is sorted")
else:
    print("The list is not sorted")'''

lst1 = [1,2,4,3]
lst2= [1,2,3,4]

def sorted_check(lst):
    sorted_list = lst.copy()
    sorted_list.sort()
    if sorted_list == lst:
        print("It is sorted")
    else:
        print("Not sorted")
        
sorted_check(lst1)
sorted_check(lst2)

Not sorted
It is sorted

31. Rotate a list to the left by `n` positions

In [90]:
def rotate_left(lst, n):
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

lst = list(range(10))
n = 1
rotate_left(lst, n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

32. Rotate a list to the right by `n` positions

In [92]:
def rotate_right(lst, n):
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

lst = list(range(10))
n = 1
rotate_right(lst, n)

[9, 0, 1, 2, 3, 4, 5, 6, 7, 8]

33. Create a list of prime numbers up to 50.

In [98]:
#Creating a function to check if a number is prime
def check_prime(num):
    if num==1:
        return False
    if num==2 or num==3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i*i<= num:
        if num%i == 0 or num%(i+2)==0:
            return False
        i += 6
    return True

#Creating a list of prime numbers 
prime_numbers = [num for num in range (2,50) if check_prime(num)]
prime_numbers

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`

In [102]:
#Function for splitting the list of size n
def split_n(lst, n):
    for i in range(0,len(lst), n):
        print(lst[i:i+n])
lst = list(range(0,10))
n = 2
split_n(lst, n)

[0, 1]
[2, 3]
[4, 5]
[6, 7]
[8, 9]

35. Find the second largest number in a list

In [103]:
lst = [1,2,4,19,24,12,11,10]
lst.sort()
print("2nd largest number is ", lst[-2])

2nd largest number is  19

36. Replace every element in a list with its square.

In [105]:
lst = [1,2,3]
sq_lst = [i*i for i in lst]
sq_lst

[1, 4, 9]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [106]:
lst = ['Naman', 'Shalini', 'Sadika']
lst_to_dict = {element : index for index, element in enumerate(lst)}
lst_to_dict

{'Naman': 0, 'Shalini': 1, 'Sadika': 2}

38. Shuffle the elements of a list randomly.

In [108]:
#Importing random
import random

lst = list(range(10))
#Using shuffle() method to shuffle the elements of the list
random.shuffle(lst)
lst

[2, 1, 8, 4, 6, 5, 9, 3, 0, 7]

39. Create a list of the first 10 factorial numbers.

In [110]:
#Function to create factorial 
def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
    
#Creating a list of the first 10 factorials
fact_list = [factorial(n) for n in range(10)]
fact_list

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [112]:
def check_common(list1, list2):
    for i in list1:
        if i in list2:
            return True
    return False

list1 = [1,2,3]
list2 = [9,4,5]

if check_common(list1, list2):
    print("Has common element")
else:
    print("No common element")

No common element

41. Remove all elements from a list.

In [115]:
lst = list(range(10))
print(lst)
lst.clear()
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[]

42. Replace negative numbers in a list with 0.

In [116]:
lst = [-1,0,3,-2,1]
for i in range(len(lst)):
    if lst[i]<0:
        lst[i]=0
        
lst

[0, 0, 3, 0, 1]

43. Convert a string into a list of words.

In [117]:
#Taking input of a string and using split to make list for words
input_string = input("Enter the string:").split()
input_string

Enter the string: Shalini Soni Pwskills

['Shalini', 'Soni', 'Pwskills']

44. Convert a list of words into a string

In [118]:
list_of_words = ["PW", "Skills", "is", "the", "best"]
string = ' '.join(list_of_words)
string

'PW Skills is the best'

45. Create a list of the first `n` powers of 2.

In [120]:
def power_2(n):
    lst = []
    for i in range(n):
        lst.append(2**i)
    return lst
power_2(5)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [5]:
string_list = ['apple', 'banana', 'coconut', 'pineapple', 'pear', 'papaya']

longest_string = ''
for word in string_list:
    if len(longest_string)<len(word):
        longest_string=word
        
longest_string

'pineapple'

47. Find the shortest string in a list of strings.

In [8]:
string_list = ['apple', 'banana', 'coconut', 'pineapple', 'pear', 'papaya']

shortest_string = string_list[0]
for word in string_list:
    if len(shortest_string)>len(word):
        shortest_string=word
        
shortest_string

'pear'

48. Create a list of the first `n` triangular numbers.

In [10]:
def tri_num(n):
    lst = []
    x = 0
    for i in range(1,n+1):
        x=i+x
        lst.append(x)
    return lst
tri_num(5)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [12]:
def check_subseq(sub, lst):
    sub_index = 0
    for element in lst:
        if element==sub[sub_index]:
            sub_index += 1
            if sub_index == len(sub):
                return True
    return False

lst = [5,4,5,3,21]
sub=[4,5]

if check_subseq(sub, lst):
    print("Yes, the list contains the other list as subsequence")
else:
    print("No, it doesn't")

Yes, the list contains the other list as subsequence

50. Swap two elements in a list by their indices.

In [14]:
lst = [1,2,3,4,5]

index1 = 2
index2 = 4

temp = lst[index1]
lst[index1] = lst[index2]
lst[index2] = temp

lst

[1, 2, 5, 4, 3]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
tuple1 = tuple(range(1,6))
tuple1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [3]:
tuple1= (1,2,3,4,5)
third_element = tuple1[2]
third_element

3

3. Find the length of a tuple without using the `len()` function

In [5]:
tuple1 = (1,2,3,4,5,6,6,6,6)
count = 0
for i in tuple1:
    count +=1
count

9

4. Count the occurrences of an element in a tuple.

In [7]:
tuple1 = (1,4,5,6,3,3,3,5,5,5,3,3)
element = 3

count = 0
for i in tuple1:
    if i==element:
        count += 1
count

5

5. Find the index of the first occurrence of an element in a tuple.

In [1]:
tuple1 = (2,4,7,8,1,3,4)
element_to_find = 1

tuple1.index(1)

4

6. Check if an element exists in a tuple.

In [5]:
tuple1 = (2,4,7,8,1,3,4)
element_to_find = 5
if element_to_find in tuple1:
    print("The element exists in the tupele")
else:
    print("The element doesn't exist in the tuple")

The element doesn't exist in the tuple

7. Convert a tuple to a list.

In [6]:
tuple1 = (2,4,7,8,1,3,4)

tuple_to_list = list(tuple1)
tuple_to_list

[2, 4, 7, 8, 1, 3, 4]

8. Convert a list to a tuple.

In [7]:
list1 = [1,3,5,6]
list_to_tuple = tuple(list1)
list_to_tuple

(1, 3, 5, 6)

9. Unpack the elements of a tuple into variables.

In [8]:
tuple1 = (1,2,3)
var1, var2, var3 = tuple1

print("Variable1", var1)
print("Variable2", var2)
print("Variable3", var3)

Variable1 1
Variable2 2
Variable3 3

10. Create a tuple of even numbers from 1 to 10.

In [9]:
even_num_tuple = tuple([i for i in range(1,11) if i%2==0])
even_num_tuple

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [10]:
odd_num_tuple = tuple([i for i in range(1,11) if i%2!=0])
odd_num_tuple

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [11]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

tuple3 = tuple1 + tuple2
tuple3

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times

In [12]:
tuple1= (1,2)
repeated_tuple = tuple1*3
repeated_tuple

(1, 2, 1, 2, 1, 2)

14. Check if a tuple is empty

In [15]:
tuple1 = (1,2,3)
tuple2 = ()

def check_empty(tuples):
    if len(tuples)==0:
        print("tuple is empty")
    else:
        print("tuple is not-empty")
        
check_empty(tuple1)
check_empty(tuple2)

tuple is not-empty
tuple is empty

15. Create a nested tuple.

In [16]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

16. Access the first element of a nested tuple.

In [17]:
first_element = nested_tuple[0]
first_element

(1, 2, 3)

17. Create a tuple with a single element.

In [20]:
single_element_tuple = (12,)
single_element_tuple

(12,)

18. Compare two tuples.

In [21]:

tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [23]:
tuple1 = (1,2,3)
print(tuple1)
del tuple1
tuple1

(1, 2, 3)

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [25]:
tuple1 = (1,2,3, 4, 5, 6)
sliced_tuple = tuple1[2:4]
sliced_tuple

(3, 4)

21. Find the maximum value in a tuple.

In [26]:
tuple1 = (1,2,3, 4, 5, 6)
max_value = max(tuple1)
max_value

6

22. Find the minimum value in a tuple.

In [27]:
tuple1 = (1,2,3, 4, 5, 6)
min_value = min(tuple1)
min_value

1

23. Convert a string to a tuple of characters.

In [28]:
string = "Pwskills is awesome"
string_to_tuple = tuple(string)
string_to_tuple

('P',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'w',
 'e',
 's',
 'o',
 'm',
 'e')

24. Convert a tuple of characters to a string.

In [31]:
tuple1 = ('P', 'W', 's', 'k', 'i', 'l', 'l', 's', ' ', 'i', 's', ' ', 'b', 'e', 's', 't')
tuple_to_string = ''.join(tuple1)
tuple_to_string

'PWskills is best'

25. Create a tuple from multiple data types.

In [32]:
multiple_data_tuple = (1,2,'hi', True)
multiple_data_tuple

(1, 2, 'hi', True)

26. Check if two tuples are identical.

In [33]:
def check_identical(tuple1, tuple2):
    if tuple1 == tuple2:
        print("Identical")
    else:
        print("Not identical")

tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (3,2,1)

check_identical(tuple1,tuple2)
check_identical(tuple1,tuple3)

Identical
Not identical

27. Sort the elements of a tuple.

In [37]:
tuple1 = ('Shalini', 'Naman', 'Vivek', 'Janvi', 'Roopal')

#Sort the words in alphabetical order
tuple1 = tuple(sorted(tuple1))
tuple1

('Janvi', 'Naman', 'Roopal', 'Shalini', 'Vivek')

28. Convert a tuple of integers to a tuple of strings

In [41]:
tuple_int = (1,2,3)
tuple_str = tuple(str(i) for i in tuple_int)
tuple_str

('1', '2', '3')

29. Convert a tuple of strings to a tuple of integers.

In [42]:
tuple_str = ('1', '2', '3')
tuple_int = tuple(int(i) for i in tuple_str)
tuple_int

(1, 2, 3)

30. Merge two tuples.

In [43]:
tuple_1 = (1,2,3)
tuple_2 = (4,5,6)

merged_tuple = tuple_1 + tuple_2
merged_tuple

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple

In [50]:
nested_tuple = ((1,2),(3,4),(5,6))

flattened_list = []
for i in (nested_tuple):
    for j in i:
        flattened_list.append(j)
print(tuple(flattened_list))

(1, 2, 3, 4, 5, 6)

32. Create a tuple of the first 5 prime numbers.

In [52]:
#Function to check a prime number 
def check_prime(n):
    if n<=1:
        return False
    for i in range(2, int(n**0.5) +1 ):
        if n%i==0:
            return False
    return True

prime_num_tuple = tuple([n for n in range(2,20) if check_prime(n)][:5])
prime_num_tuple

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [53]:
def check_palindrome(tuple1):
    list1 = list(tuple1)
    list2 = list1[::-1]
    if list1==list2:
        print("Palindrome")
    else:
        print("Not Palindrome")
tuple1 = (1,2,1)
tuple2= (1,2,3)

check_palindrome(tuple1)
check_palindrome(tuple2)

Palindrome
Not Palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [54]:
sq_tuple = tuple([i*i for i in range(1,6)])
sq_tuple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [56]:
given_tuple = (1,2,4,6,8,9)
even_num = []
for i in given_tuple:
    if i%2==0:
        even_num.append(i)
even_num_tuple = tuple(even_num)
even_num_tuple

(2, 4, 6, 8)

36. Multiply all elements in a tuple by 2.

In [61]:
tuple1 = (1,2,3)
new_tuple = []
for i in (tuple1):
    new_tuple.append(i*2)
    
print(tuple(new_tuple))

(2, 4, 6)

37. Create a tuple of random numbers.

In [63]:
import random

random_tuple = tuple(random.randint(1,100) for i in range(10))
random_tuple

(98, 98, 79, 64, 42, 31, 86, 90, 59, 3)

38. Check if a tuple is sorted.

In [75]:
tuple1 = (4,2,1,0)
tuple2 = tuple(sorted(tuple1))
tuple3 = tuple(sorted(tuple1, reverse = True))
if tuple1==tuple2 or tuple1==tuple3:
    print("Sorted")
else:
    print("not sorted")

Sorted

39. Rotate a tuple to the left by `n` positions.

In [76]:
def rotate_left(tup, n):
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple

tup1 = (1,2,3,4,5)
rotate_left(tup1, 2)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [77]:
def rotate_right(tup, n):
    rotated_tuple = tup[-n:] + tup[:-n]
    return rotated_tuple

tup1 = (1,2,3,4,5)
rotate_right(tup1, 2)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [81]:
def fibonacci_num(n):
    fibonacci = [0,1]
    for i in range (n-2):
        fibonacci.append(fibonacci[-1]+ fibonacci[-2])
    return tuple(fibonacci)
fibonacci_num(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [82]:
user_input = input("Enter elements separated by space")

tuple_user_input = tuple(user_input.split())
tuple_user_input

Enter elements separated by space Shalini Soni PWskills

('Shalini', 'Soni', 'PWskills')

43. Swap two elements in a tuple

In [85]:
tuple1 = (1,2,3,4,5)

#Converting the tuple in a list
list1 = list(tuple1)

#indexes to be swapped
index1 = 2
index2 = 3

temp = list1[index1]
list1[index1] = list1[index2]
list1[index2] = temp

new_tuple = tuple(list1)
new_tuple

(1, 2, 4, 3, 5)

44. Reverse the elements of a tuple.

In [86]:
tuple1 = (1,2,3)
list1 = list(tuple1)
reversed_tuple = tuple(list1[::-1])
reversed_tuple

(3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [87]:
def power_2(n):
    tup = tuple(2**i for i in range(n))
    return tup
power_2(8)

(1, 2, 4, 8, 16, 32, 64, 128)

46. Find the longest string in a tuple of strings.

In [89]:
tup = ('apple', 'pineapple', 'banana')
longest_string = ''
for i in tup:
    if len(i)>len(longest_string):
        longest_string = i
longest_string

'pineapple'

47. Find the shortest string in a tuple of strings.

In [92]:
tup = ('apple', 'pineapple', 'banana')
shortest_string = list(tup)[0]
for i in tup:
    if len(i)<len(shortest_string):
        shortest_string = i
shortest_string

'apple'

48. Create a tuple of the first `n` triangular numbers.

In [94]:
def trian_num(n): 
    tup = tuple(i*(i+1)//2 for i in range(1,n+1)) 
    return tup

trian_num(5)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [97]:
def check_subseq(sub, tup):
    sub_index = 0
    for element in tup:
        if element==sub[sub_index]:
            sub_index += 1
            if sub_index == len(sub):
                return True
    return False

tup = (5,4,5,3,21)
sub=(6,5)

if check_subseq(sub, tup):
    print("Yes, the tuple contains the other tuple as subsequence")
else:
    print("No, it doesn't")

No, it doesn't

50. Create a tuple of alternating 1s and 0s of length `n`.

In [99]:
def tuple_01(n):
    tup = tuple(i%2 for i in range(n))
    return tup
tuple_01(10)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5

In [100]:
set1 = set(range(1,6))
set1

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [102]:
set1 = {1,2,3,4}
add_element = 5

set1.add(add_element)
set1

{1, 2, 3, 4, 5}

3. Remove an element from a set.

In [103]:
set1 = {1,2,3,4,5}
remove_element = 5

set1.remove(remove_element)
set1

{1, 2, 3, 4}

4. Check if an element exists in a set.

In [105]:
set1 = {1,2,3,4,5}
check_element = 10

if check_element in set1:
    print("Exists")
else:
    print("Doesn't exist")

Doesn't exist

5. Find the length of a set without using the `len()` function.

In [106]:
set1 = {1,2,3,4,5}
count = 0
for i in set1:
    count += 1
count

5

6. Clear all elements from a set.

In [107]:
set1 = {1,2,3,4,5}
set1.clear()
set1

set()

7. Create a set of even numbers from 1 to 10.

In [108]:
set1 = {i for i in range(1,11) if i%2==0}
set1

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [109]:
set1 = {i for i in range(1,11) if i%2!=0}
set1

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [110]:
set1 = {1,2,3}
set2 = {2,3,4,5,9}

union = set1.union(set2)
union

{1, 2, 3, 4, 5, 9}

10. Find the intersection of two sets.

In [111]:
set1 = {1,2,3}
set2 = {2,3,4,5,9}

intersection= set1.intersection(set2)
intersection

{2, 3}

11. Find the difference between two sets.

In [112]:
set1 = {1,2,3}
set2 = {2,3,4,5,9}

difference= set1.difference(set2)
difference

{1}

12. Check if a set is a subset of another set.

In [114]:
set1 = {1,2,3}
set2 = {1,2}
set3 = {1,5}

is_subset = set2.issubset(set3)
is_subset

False

13. Check if a set is a superset of another set

In [116]:
set1 = {1,2,3}
set2 = {1,2}
set3 = {1,5}

is_superset = set1.issuperset(set3)
is_superset

False

14. Create a set from a list

In [117]:
list1 = [1,2,3]
set1 = set(list1)
set1

{1, 2, 3}

15. Convert a set to a list.

In [118]:
set1 = {1,2,3}
list1 = list(set1)
list1

[1, 2, 3]

16. Remove a random element from a set.

In [129]:
set1 = {0,2,3,4}
random_element = random.choice(list(set1))
set1.remove(random_element)
set1

{0, 3, 4}

17. Pop an element from a set.

In [130]:
set1 = {1,2,3}
set1.pop()
set1

{2, 3}

18. Check if two sets have no elements in common.

In [131]:
def check_common_elements(set1,set2):
    common_elements = set1.intersection(set2)
    if len(common_elements)==0:
        print("No common element")
    else:
        print("Common elements are there")
        
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {5,6,7}

check_common_elements(set1, set2)
check_common_elements(set1, set3)

Common elements are there
No common element

19. Find the symmetric difference between two sets.

In [132]:
set1 = {1,2,3}
set2 = {2,3,4}

symmetric_diff = set1^set2
symmetric_diff

{1, 4}

20. Update a set with elements from another set.

In [133]:
set1 = {1,2,3}
set2 = {2,3,4}

set1.update(set2)
set1

{1, 2, 3, 4}

21. Create a set of the first 5 prime numbers.

In [143]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_list = [num for num in range(20) if is_prime(num)][:5]
prime_set = set(prime_list)
prime_set

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [144]:
def check_identical_sets(set1, set2):
    if set1==set2:
        print("Sets are identical")
    else:
        print("Sets are not identical")
        
set1 = {1,2,2,3}
set2 = {2,3,1}
set3 = {2,3,4}

check_identical_sets(set1, set2)
check_identical_sets(set1, set3)

Sets are identical
Sets are not identical

23. Create a frozen set.

In [145]:
list1 = [1,2,3]

frozen_set = frozenset(list1)
frozen_set

frozenset({1, 2, 3})

24. Check if a set is disjoint with another set.

In [148]:
        
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {5,6,7}

disjoint = set1.isdisjoint(set3)
disjoint

True

25. Create a set of squares of numbers from 1 to 5.

In [149]:
set_sq = {i*i for i in range(1,6)}
set_sq

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [153]:
set1 = {1,2,3,4,45,6,8}
even_set = {i for i in list(set1) if i%2==0}
even_set

{2, 4, 6, 8}

27. Multiply all elements in a set by 2.

In [154]:
set1 = {1,2,3,4,45,6,8}
mult_set = {i*2 for i in list(set1)}
mult_set

{2, 4, 6, 8, 12, 16, 90}

28. Create a set of random numbers.

In [155]:
import random
random_set = {random.randint(1,100) for i in range(10)}
random_set

{17, 23, 29, 31, 39, 66, 85, 86, 99}

29. Check if a set is empty.

In [159]:
def check_empty_set(set1):
    if len(set1)==0:
        print("Empty set")
    else:
        print("Not empty")
    
set1 = set()
set2 = {1,2}
check_empty_set(set1)
check_empty_set(set2)

Empty set
Not empty

30. Create a nested set (hint: use frozenset).

In [164]:
set1 = {1,2}
set2 = {3,4}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set  = {frozen_set1, frozen_set2}
nested_set

{frozenset({3, 4}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [165]:
set1 = {1,2,3,4,5}
set1.discard(3)
set1

{1, 2, 4, 5}

32. Compare two sets.

In [166]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [167]:
string = "What is your name"
set_from_string = set(string.split())
set_from_string

{'What', 'is', 'name', 'your'}

34. Convert a set of strings to a set of integers.

In [168]:
set_of_string = {'1', '2', '3'}
set_of_integers = {int(i) for i in set_of_string}
set_of_integers

{1, 2, 3}

35. Convert a set of integers to a set of strings.

In [169]:
set_of_integers = {1, 2, 3}
set_of_string = {str(i) for i in set_of_integers}
set_of_string

{'1', '2', '3'}

36. Create a set from a tuple.

In [170]:
tuple1 = (1,2,3)
set1 = set(tuple1)
set1

{1, 2, 3}

37. Convert a set to a tuple.

In [171]:
set1 = {1,2,3}
tuple1 = tuple(set1)
tuple1

(1, 2, 3)

38. Find the maximum value in a set

In [173]:
set1= {2,4,1,3,7}
max_value = max(set1)
max_value

7

39. Find the minimum value in a set.

In [175]:
set1= {2,4,1,3,7}
min_value = min(set1)
min_value

1

40. Create a set from user input.

In [176]:
user_input = input("Enter elements with spaces in between elements")
user_input_set = set(user_input.split())
user_input_set

Enter elements with spaces in between elements 1 2 3 4 5

{'1', '2', '3', '4', '5'}

41. Check if the intersection of two sets is empty.

In [177]:
def empty_intersection(set1,set2):
    common_elements = set1.intersection(set2)
    if len(common_elements)==0:
        print("Intersection is empty")
    else:
        print("Intersection is not empty")
        
set1 = {1,2,3}
set2 = {2,3,4}
set3 = {5,6,7}

empty_intersection(set1, set2)
empty_intersection(set1, set3)

Intersection is not empty
Intersection is empty

42. Create a set of the first 5 Fibonacci numbers.

In [178]:
fibonacci_set = set()
a,b = 0,1
for i in range(6):
    fibonacci_set.add(a)
    a,b = b, a+b
fibonacci_set

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [179]:
list1 = [1,2,2,2,3,3,4,4,5,5,5,5,6]
set1 = set(list1)
list_without_duplicates = list(set1)
list_without_duplicates

[1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [180]:
def check_same_elements(set1, set2):
    if set1 == set2:
        print("Have same elements")
    else:
        print("Doesn't have same elements")
set1={1,2,3,3,3,2,1}
set2 ={1,2,3}
set3={2,3,4}
check_same_elements(set1, set2)
check_same_elements(set1, set3)

Have same elements
Doesn't have same elements

45. Create a set of the first `n` powers of 2.

In [181]:
def set_powers(n):
    set1 = {2**n for n in range(n)}
    return set1
set_powers(5)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [183]:
set1 = {1,2,3,6,7}
list1 = [1,2,3,4,5]
list1_set = set(list1)

common_elements = set1.intersection(list1_set)
common_elements

{1, 2, 3}

47. Create a set of the first `n` triangular numbers.

In [186]:
n=7
set_trian_nums = {i*(i+1)//2 for i in range(1,n)}
set_trian_nums

{1, 3, 6, 10, 15, 21}

48. Check if a set contains another set as a subset.

In [188]:
set1 = {1,2,3,4}
set2 = {2,3,9}

if set2.issubset(set1):
    print("Yes set1 contains set2 as subset")
else:
    print("No, set1 does not contain set2 as subset")

No, set1 does not contain set2 as subset

49. Create a set of alternating 1s and 0s of length `n`.

In [189]:
n = 10
set1 = {i%2 for i in range(n)}
set1

{0, 1}

50. Merge multiple sets into one.

In [191]:
set1={1,2,3}
set2 = {2,3,4,5,6}
set3 = {6,7,8,9}
set4 = {10,11,12}

merged_set = set1.union(set2, set3, set4)
merged_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}